.title {
    margin: 1rem 0 1rem 1rem;
    font-size: 22px;
}
.info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 30px;
}

.pokemonImage{
    max-width: 30%;
}

@media (max-width: 1024px) {
    .info {
        flex-direction: column;
    }
    .pokemonImage {
        max-width: 100%;
    }
}