.sidebarMenu {
    position: relative;
}

.closeBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
}
.closeBtn:hover {
    opacity: 1;
}
.closeBtn:before, .closeBtn:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.closeBtn:before {
    transform: rotate(45deg);
}
.closeBtn:after {
    transform: rotate(-45deg);
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffefd5;
}

.title {
    font-size: 18px;
    margin-top: 1rem;
}

.list {
    display: flex;
    flex-direction: column;
}

.pokemonName {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    height: 60px;
}

.pokemonName:hover {
    text-decoration: underline;
}

.avatar {
    width: 60px;
}