.params {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.param {
    margin: .25rem 0;
    display: flex;
}

.param span {
    margin-left: .25rem;
}

.stats {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1024px) {
    .params {
        width: 100%;
    }
}