.sidebar {
    grid-area: sidebar;
    background-color: #ffefd5;
    padding: 1rem;
}

.title {
    font-size: 18px;
}

.list {
    display: flex;
    flex-direction: column;
}

.pokemonName {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    height: 60px;
}

.pokemonName:hover {
    text-decoration: underline;
}

.avatar {
    width: 60px;
}

@media (max-width: 426px) {
    .sidebar {
        display: none;
    }
}

